.card {
  width: 100%;
  background-color: #367ada;
  padding: 0.5rem;
  margin-bottom: 10px;
  border: 1px solid #000;
  transition: 0.4s;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
}
.card:hover {
  background-color: #538edf;
}
.card_header {
  text-align: center;
  margin: 20px;
}
.card .item_game {
  margin-bottom: 20px;
}
.card .item_player {
  bottom: 0;
  left: 0;
  display: inline-block;
}
.card .item_score {
  float: right;
}
.card_footer {
  text-align: right;
}
